Repository SnO2WMaN/customizable-gitmoji-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.md": ["prettier --write", "git add"],
  "*.json": ["prettier --write", "git add"],
  "*.{js,ts}": ["eslint --fix", "prettier --write", "git add"],
  "*.yml": ["prettier --write", "git add"]
}

🔧 Remove test rules for dev
  .gitmojirc
Due: none

🔖 0.0.1-2
  package-lock.json
  package.json
Due: prettier --write

🔖 0.0.1-4
  package-lock.json
  package.json
Due: prettier --write

🔖 0.0.1-3
  package-lock.json
  package.json
Due: prettier --write

🔥 Remove test codes for config
  tests/__snapshots__/index.test.ts.snap
  tests/index.test.ts
Due: prettier --write, eslint --fix

🔧 Update gitmojirc
  .gitmojirc
Due: none

🔖 0.0.1-6
  package-lock.json
  package.json
Due: prettier --write

⬆️ Lock file maintenance
  package-lock.json
Due: prettier --write

➖ Remove simple-git dependency
  package-lock.json
  package.json
  src/getHookPath.ts
Due: prettier --write, eslint --fix

🔖 0.0.1-5
  package-lock.json
  package.json
Due: prettier --write

🔥 Remove git staged check
  src/commands/commit.ts
Due: prettier --write, eslint --fix

🔥 Remove config by conf
  src/cli.ts
  src/commands/config.ts
  src/config.ts
Due: prettier --write, eslint --fix

🐛 Fix getting config
  src/cli.ts
  src/commands/commit.ts
  src/config.ts
Due: prettier --write, eslint --fix

🔥 Remove code and entity property from gitmoji
  src/commands/commit.ts
  src/config.ts
  src/index.d.ts
  src/parseLines.ts
Due: prettier --write, eslint --fix

➖ Remove dependencies about jest
  jest.config.js
  package.json
  tests/.eslintrc
  tests/__snapshots__/index.test.ts.snap
  tests/index.test.ts
Due: prettier --write, eslint --fix

🔧 Add gitmoji for resolving linter warning
  .gitmojirc
Due: none

📝 Update readme badges and package.json
  README.md
  package.json
Due: prettier --write

🚨 Add tests for gitmojirc checking
  tests/config.test.ts
  tests/gitmoji.test.ts
  tests/gitmojirc/correct/base/.gitmojirc
  tests/gitmojirc/correct/no-preset/.gitmojirc
  tests/gitmojirc/incorrect/1/.gitmojirc
  tests/gitmojirc/incorrect/2/.gitmojirc
  tests/snapshots/config.test.ts.md
  tests/snapshots/config.test.ts.snap
  tests/snapshots/gitmoji.test.ts.md
  tests/snapshots/gitmoji.test.ts.snap
Due: prettier --write, eslint --fix

⬆️ Update eslint configs dependencies
  .eslintrc
  package-lock.json
  package.json
Due: prettier --write

🎨 Improve config manipuration
  src/cli.ts
  src/commands/commit.ts
  src/commands/list.ts
  src/commands/search.ts
  src/config.ts
  src/configExplorer.ts
  src/getGitmojis.ts
  src/getScopes.ts
  src/gitmojis.ts
Due: prettier --write, eslint --fix

✨ Add scope choice
  src/commands/commit.ts
  src/getScopes.ts
Due: prettier --write, eslint --fix

🔧 Generate coverage
  .gitignore
  package.json
Due: prettier --write

✨ Add cli option for optional config location
  src/cli.ts
  src/config.ts
Due: prettier --write, eslint --fix

👍 Improve preset loading
  src/config.ts
  src/gitmojis.ts
Due: prettier --write, eslint --fix

👍 Improve config loading
  src/cli.ts
  src/commands/commit.ts
  src/commands/list.ts
  src/commands/search.ts
  src/config.ts
  src/gitmojis.ts
Due: prettier --write, eslint --fix

🚨 Add tests for parsing preset name
  tests/config.test.ts
Due: prettier --write, eslint --fix

🚨 Add config validation test
  .nycrc
  src/commands/list.ts
  src/commands/search.ts
  src/config.ts
  src/parseLines.ts
  tests/config.test.ts
Due: prettier --write, eslint --fix

🚥 Resolve linter warning
  .eslintrc
  src/cli.ts
  src/commands/commit.ts
  src/config.ts
  src/gitmojis.ts
  src/validator.ts
  tests/config.test.ts
Due: prettier --write, eslint --fix

🚨 Add tests for validating preset name
  tests/config.test.ts
Due: prettier --write, eslint --fix

👍 Throw error on invalid config value
  src/config.ts
  tests/config.test.ts
Due: prettier --write, eslint --fix

🔧 Update .gitmojirc
  .gitmojirc
Due: none

✨ Add validating preset name
  src/config.ts
  src/gitmojis.ts
Due: prettier --write, eslint --fix

➕ Add dependencies about ava
  .eslintrc
  ava.config.js
  package-lock.json
  package.json
  rollup.config.js
  tsconfig.json
Due: prettier --write, eslint --fix

🔧 Add all-contributors
  .all-contributorsrc
  .lintstagedrc
  README.md
  package-lock.json
  package.json
Due: prettier --write

💬 Update litarals in templates for github
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

➕ Add shipjs
  package-lock.json
  package.json
Due: prettier --write

🔖 1.0.0
  package-lock.json
  package.json
Due: prettier --write

📄 Add license
  LICENSE
Due: none

🔥 Remove unused empty file
  src/validator.ts
Due: prettier --write, eslint --fix
