Repository SnO2WMaN/customizable-gitmoji-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, prettier --write, eslint --fix

.lintstagedrc:

{
  "package.json": [
    "prettier-package-json --write",
    "prettier --write",
    "git add"
  ],
  "*[!package].json": ["prettier --write", "git add"],
  "*.md": ["prettier --write", "git add"],
  "*.{js,ts}": ["eslint --fix", "prettier --write", "git add"],
  "*.yml": ["prettier --write", "git add"]
}

⬆️ Update typescript to 3.7
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write

🏗 Use yarn
  .github/workflows/node-ci.yml
  package-lock.json
  yarn.lock
Due: prettier --write

➕ Add dependencies about eslint configs and plugins
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

🔧 Update prettier and eslint config files
  .eslintrc
  .prettierrc
Due: none

➕ Add @sno2wman/prettier-config
  .prettierrc
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

➕ Add my eslint configs
  .eslintrc
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

♻️ Refactor list command
  package.json
  src/commands/ls/index.ts
  src/index.ts
Due: prettier-package-json --write, prettier --write, eslint --fix

🔧 Setup project configurations
  .eslintignore
  .gitignore
  .gitmoji2rc
  .prettierignore
  package.json
  tsconfig.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

♻️ Refactor init and remove command
  package.json
  src/commands/hook/create/index.ts
  src/commands/hook/hook.ts
  src/commands/hook/index.ts
  src/commands/hook/remove/index.ts
  src/commands/index.ts
  src/index.ts
  yarn.lock
Due: prettier-package-json --write, prettier --write, eslint --fix

👷(renovate) Update config file
  renovate.json
Due: none

⬆️ Update cz-gitmoji-config-parser
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

🔧(eslint) Update config
  .eslintrc
Due: none

♻️ Refactor commit command
  src/commands/commit/index.ts
  src/commands/commit/withClient.ts
  src/commands/commit/withHook.ts
  src/commands/list/index.ts
Due: prettier --write, eslint --fix

🐛 Fix commit hook
  src/commands/hook/hook.ts
Due: prettier --write, eslint --fix

🔥 Remove old codes
  src/cli.ts
  src/commands/commit.ts
  src/commands/index.ts
  src/commands/init.ts
  src/commands/list.ts
  src/commands/ls/index.ts
  src/commands/remove.ts
  src/commands/search.ts
  src/config.ts
  src/getHookPath.ts
  src/gitmojis.ts
  src/index.ts
  src/parseLines.ts
Due: prettier --write, eslint --fix

🔥 Remove tests
  tests/config.test.ts
  tests/gitmoji.test.ts
  tests/gitmojirc/correct/base/.gitmojirc
  tests/gitmojirc/correct/no-preset/.gitmojirc
  tests/gitmojirc/incorrect/1/.gitmojirc
  tests/gitmojirc/incorrect/2/.gitmojirc
  tests/snapshots/config.test.ts.md
  tests/snapshots/config.test.ts.snap
  tests/snapshots/gitmoji.test.ts.md
  tests/snapshots/gitmoji.test.ts.snap
Due: prettier --write, eslint --fix

📌(node.js) Pin to v12.13.1
  .node-version
Due: none

👷(github actions) Update workflow
  .github/workflows/ci.yml
  .github/workflows/node-ci.yml
  .npmrc
Due: prettier --write

🐛 Dequote commit message
  src/commands/commit/withClient.ts
Due: prettier --write, eslint --fix

🐛 Fix about selecting gitmoji
  src/commands/commit/index.ts
Due: prettier --write, eslint --fix

👍 Improve list command
  src/commands/list/index.ts
Due: prettier --write, eslint --fix

👍 Change config file base name
  src/index.ts
Due: prettier --write, eslint --fix

🔧(gitmoji) Update config file
  .gitmoji2rc
  .gitmojirc
Due: none

⬆️ Lock file maintenance
  yarn.lock
Due: none

👷(github actions) Untrigger ci run when pull request
  .github/workflows/ci.yml
Due: prettier --write

➖ Remove unused packages
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

🔧(lintstaged) Update config file
  .lintstagedrc
Due: none

🔥 Remove rollup config
  rollup.config.js
Due: prettier --write, eslint --fix

➕ Add some dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

⬆️ Update dependency chalk to v3
  package.json
Due: prettier-package-json --write, prettier --write

⬆️ Update dependency cosmiconfig to v6
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

⬆️ Update dependency execa to v4
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

🐛 Fix for cosmiconfig v6
  src/index.ts
Due: prettier --write, eslint --fix

📖 Update readme
  README.md
Due: prettier --write

🔖 2.0.0-0
  package.json
Due: prettier-package-json --write, prettier --write

⬇️ Downgrade inquirer
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

🐛 Fix packaging
  package.json
Due: prettier-package-json --write, prettier --write

🔖 2.0.0-1
  package.json
Due: prettier-package-json --write, prettier --write

⬆️ Upgrade cz-gitmoji-config-parser
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write
