Repository SnO2WMaN/customizable-gitmoji-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.md": ["prettier --write", "git add"],
  "*.json": ["prettier --write", "git add"],
  "*.{js,ts}": ["eslint --fix", "prettier --write", "git add"],
  "*.yml": ["prettier --write", "git add"]
}

⬆️ Update dependency execa to v3
  package-lock.json
  package.json
Due: prettier --write

🐛 Fix displaying name on CLI
  src/cli.ts
Due: prettier --write, eslint --fix

📖 Fix badge url
  .lintstagedrc
  README-jp.md
  README.md
Due: prettier --write

📖 Add scope description in readme jp
  README-jp.md
Due: prettier --write

⬆️ Update gitmoji-preset-base dependency
  package-lock.json
  package.json
Due: prettier --write

💵 Add financial support button
  .github/FUNDING.yml
Due: prettier --write

➖ Remove shipjs
  package.json
Due: prettier --write

🐛 Fix config file loading
  src/gitmojis.ts
Due: prettier --write, eslint --fix

🔧 Add my own gitmoji presets
  .gitmojirc
  package-lock.json
  package.json
Due: prettier --write

🔧 Update eslint settings
  .eslintrc
Due: none

🚨 Update tests for resolving config files
  tests/config.test.ts
Due: prettier --write, eslint --fix

🔖 1.0.1
  package-lock.json
  package.json
Due: prettier --write

➕ Add fs-extra
  package-lock.json
  package.json
  src/commands/commit.ts
  src/commands/init.ts
  src/commands/remove.ts
  src/gitmojis.ts
Due: prettier --write, eslint --fix

🐛 Fix not working on no preset
  src/gitmojis.ts
Due: prettier --write, eslint --fix

🔖 1.0.2-0
  package-lock.json
  package.json
Due: prettier --write

🐛 Fix default loading presets name
  src/gitmojis.ts
Due: prettier --write, eslint --fix

🔖 1.0.2-1
  package-lock.json
  package.json
Due: prettier --write

🔖 1.0.2
  package-lock.json
  package.json
Due: prettier --write

👷 Setup Github Action
  .github/workflows/node-ci.yml
  package.json
Due: prettier --write

👷 Send coverage to codecov only node version 12
  .github/workflows/node-ci.yml
Due: prettier --write

📖 Update badges on readme
  README-jp.md
  README.md
Due: prettier --write

🔥 Remove Circle CI config file
  .circleci/config.yml
Due: prettier --write

:arrow_up: Update https-proxy-agent
  package-lock.json
Due: prettier --write

⬆️ Update https-proxy-agent (#2)
  package-lock.json
Due: prettier --write

🔧 Turn off prettier to .all-contributorsrc on commit
  .lintstagedrc
Due: none

👥 Add @0918nobita as a contributor
  .all-contributorsrc
  README-jp.md
  README.md
Due: prettier --write

⬆️ Lock file maintenance
  package-lock.json
Due: prettier --write

⬆️ Update dependency rollup-plugin-typescript2 to ^0.25.0
  package-lock.json
  package.json
Due: prettier --write

⬆️ Update dependency update-notifier to v4
  package-lock.json
  package.json
Due: prettier --write

👷(github actions) Subdivide test steps
  .github/workflows/node-ci.yml
Due: prettier --write
