Repository SnO2WMaN/customizable-gitmoji-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

🏗 Prepare typescript build
  .gitignore
  .prettierignore
  package.json
  tsconfig.json
Due: prettier --write

✨ Get gitmojis from configfiles
  .gitmojirc
  package-lock.json
  package.json
  src/commands/commit.ts
  src/commands/list.ts
  src/commands/search.ts
  src/getGitmojis.ts
  src/gitmojis.ts
Due: prettier --write, eslint --fix

👷 Add renovate
  renovate.json
Due: prettier --write

💚 Clone git submodule for CI
  .circleci/config.yml
Due: prettier --write

🐛 Fix gitmoji hook
  src/commands/init.ts
Due: prettier --write, eslint --fix

🔧 Update eslint config
  .eslintrc
  package-lock.json
  package.json
Due: prettier --write

🔧 Avoid src from ignorefiles
  .eslintignore
  .prettierignore
  package-lock.json
  package.json
Due: prettier --write

🎨 Purge config manipulation
  src/commands/commit.ts
  src/commands/config.ts
  src/config.ts
Due: prettier --write, eslint --fix

🏗 Shift simplegit to execa for git operation
  package-lock.json
  package.json
  src/commands/commit.ts
Due: prettier --write, eslint --fix

✨ Add option for config-files
  src/cli.ts
  src/commands/commit.ts
  src/commands/config.ts
  src/config.ts
  src/configExplorer.ts
  src/getGitmojis.ts
Due: prettier --write, eslint --fix

✅ Add tests for list, search
  src/commands/list.ts
  src/commands/search.ts
  src/index.d.ts
  src/parseLines.ts
  tests/__snapshots__/config.test.ts.snap
  tests/__snapshots__/index.test.ts.snap
  tests/config.test.ts
  tests/index.test.ts
  tsconfig.json
Due: prettier --write, eslint --fix

💚 Fix cloning git submodule
  .circleci/config.yml
Due: prettier --write

🔧 Update eslint config
  .eslintignore
  .eslintrc
  .prettierignore
  package.json
  tsconfig.json
Due: prettier --write

✨ Add update notifier
  package-lock.json
  package.json
  src-beta/cli.ts
Due: prettier --write, eslint --fix

➖ Remove gitmoji submodule
  .gitmodules
Due: none

💚 Add build job for ci
  .circleci/config.yml
  package.json
Due: prettier --write

📝 Update readme
  README.md
Due: prettier --write

✅ Update config test
  tests/index.test.ts
Due: prettier --write, eslint --fix

🔥 Remove .travis.yml
  .travis.yml
Due: prettier --write

👷 Add codecov
  .circleci/config.yml
  .gitignore
  jest.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

🔧 Update some config
  .lintstagedrc
  .npmrc
  .prettierignore
  package-lock.json
  package.json
Due: prettier --write

➕ Update eslint config dependencies
  package-lock.json
  package.json
Due: prettier --write

🚚 Replace typescript source
  cli.js
  src/cli.ts
  src/commands/commit.ts
  src/commands/config.ts
  src/commands/init.ts
  src/commands/list.ts
  src/commands/remove.ts
  src/commands/search.ts
  src/config.js
  src/constants.js
  src/getHookPath.ts
  src/gitmoji.js
  src/gitmojis.ts
  src/guard.js
  src/parseLine.ts
  src/prompts.js
  src/utils.js
  tsconfig.json
Due: prettier --write, eslint --fix

✅ Add tests for config
  .eslintrc
  jest.config.js
  package-lock.json
  package.json
  tests/__snapshots__/config.test.ts.snap
  tests/config.test.ts
  tsconfig.json
Due: prettier --write, eslint --fix

🔧 Ignore eslint warning in test
  tests/.eslintrc
Due: none

🚨 Fix codes for linter
  .eslintrc
  src/commands/commit.ts
  src/commands/init.ts
  src/commands/remove.ts
  src/getHookPath.ts
  src/parseLines.ts
Due: prettier --write, eslint --fix

🔧 Setup for publishing
  package-lock.json
  package.json
Due: prettier --write

🔥 Remove highlight in search
  src/commands/list.ts
  src/commands/search.ts
  src/parseLines.ts
Due: prettier --write, eslint --fix

🚑 Add shebang
  package-lock.json
  package.json
  rollup.config.js
Due: prettier --write, eslint --fix

🔖 0.0.1-1
  package-lock.json
  package.json
Due: prettier --write

:bookmark: 0.0.1-0
  package-lock.json
  package.json
Due: prettier --write

➖ Remove some unused dependencies
  package-lock.json
  package.json
Due: prettier --write

🏗 Add rollup for bundle
  package-lock.json
  package.json
  rollup.config.js
  tsconfig.json
Due: prettier --write, eslint --fix

🐛 Fix not working on git commit hook
  src/cli.ts
  src/commands/commit.ts
  src/commands/init.ts
Due: prettier --write, eslint --fix

➕ Add gitmoji-preset-base
  package-lock.json
  package.json
  src/gitmojis.ts
Due: prettier --write, eslint --fix

🔧 Change release message format
  .npmrc
Due: none

✅ Add tests for getting gitmojis
  src/getGitmojis.ts
  tests/__snapshots__/index.test.ts.snap
  tests/index.test.ts
Due: prettier --write, eslint --fix

🔥 Remove old test files
  test/gitmojiCli.spec.js
  test/stubs.js
Due: prettier --write, eslint --fix

📝 Update readme badges
  README.md
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.md) or (any of: *.json)) or (any of: *.{js,ts})) or (any of: *.yml)
  eslint --fix: any of: *.{js,ts}
