Repository SnO2WMaN/customizable-gitmoji-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

👍 Improve list command
  src/commands/list/index.ts
Due: prettier --write, eslint --fix

🔧(gitmoji) Update config file
  .gitmojirc
Due: none

🔖 2.0.0-2
  package.json
Due: prettier --write

💬 Rename to customizable-gitmoji-cli
  README.md
  package.json
Due: prettier --write

🙈 Update .gitignore
  .gitignore
Due: none

📌(node.js) Pin to 12.14.0
  .node-version
Due: none

➕ Add customizable-gitmoji-config-parser
  package.json
  yarn.lock
Due: prettier --write

🐛 Fix for renaming to customizable-gitmoji-config-parser
  src/commands/commit/index.ts
  src/commands/commit/withClient.ts
  src/commands/list/index.ts
  src/index.ts
Due: prettier --write, eslint --fix

🔖 2.0.0-3
  package.json
Due: prettier --write

⬆️ Lock file maintenance
  yarn.lock
Due: none

⬆️ Update dependency husky to v4
  package.json
  yarn.lock
Due: prettier --write

⬆️ Update dependency nyc to v15
  package.json
  yarn.lock
Due: prettier --write

⬆️ Update dependency lint-staged to v10
  package.json
  yarn.lock
Due: prettier --write

⬆️ Update dependency ava to v3
  package.json
  yarn.lock
Due: prettier --write

⬆️ Update dependency inquirer to v7
  package.json
  yarn.lock
Due: prettier --write

Delete LICENSE
  LICENSE
Due: none

Path conditions:
  prettier --write: (((any of: *.md) or (any of: *.{js,ts})) or (any of: *.yml)) or (any of: *.json)
  eslint --fix: any of: *.{js,ts}
